.nav-item{
    font-size:22px;
    margin-left: 110px;
}

.slider{
    margin:0 ! important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
	height: 100%;
}
.loginButton{
    border: 1px solid black;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
}

h1{
    color: #b30000;
}

.color{
    color: #b30000;
}

h2{
    color: #b30000;
}
.fp{
    color: #b30000;
}

.viewAll{
    color:white; 
    background-color: #b30000;
    padding: 5px 25px 5px 25px;
    margin: 0 auto;
    border: none;
    
        
}
.ABChocolate{
    width: 100%; 
    height: 92%; 
    border-radius: 20px
}


.box{
    display: flex;
   align-items:center;
}


.bg{
    background-color: #b30000;
    color: white;
}
.boxButton{
    border: 1px solid white;
    background-color: #b30000;
    color: white;
    margin: 0 auto;
}

.buttonCss{
    color:white; 
    background-color: #b30000;
    padding: 5px 25px 5px 25px;
    border: none;
}

.foodImage{
    position:relative; 
    left:0px; 
    top:-120px
}

.FImage{
    width: 100%; 
    height: 100%;
}

.manWithFood{
    width: 85%;
}

.topImage{
    padding-right: 0px;
    padding-left: 0px;
}
.forgotImage{
    width: 55%;
}

.registerPhoto{
    width: 75%;
}

.formdiv{
    width: 10%;
}

.form-control{
    width: 70%;
    border: none;
    border-radius: 0px;
    border-bottom: 1.2px solid #b3b3b3;
}

.form-control::-webkit-input-placeholder { 
  color: #b30000;
}


@media only screen and (max-width : 767px) {
    .middleImage{

        display: flex;
      justify-content: center;
    }
    .manWithFood{
        width: 50%;
        margin-top: -100px;
    }
    .up{
        display: none;
    }
    .down{
        display: none;
    }
    .forgotImage{
        width: 40%;
    }
    .registerPhoto{
        width: 55%;
    }
}

@media only screen and (max-width : 1220px) {
    .nav-item{
    font-size:20px;
    margin-left: 90px;
}
    .loginButton{
    border: 1px solid black;
    margin-top: 10px;
    font-size: 17px;
    padding: 3px 10px 3px 10px;
}
}

@media only screen and (max-width : 991px) {
    h2{
        font-size: 25px;
    }
    
    h1{
        font-size: 30px;
    }
    .ABChocolate{
        width: 100%; 
        height: 88%; 
        border-radius: 20px
    }
    .foodImage{
        margin-top: 120px;
    }
}



