.nav-item {
    font-size: 22px;
    margin-left: 110px;
}

.slider {
    margin: 0 ! important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}



.loginButton {
    border: 1px solid black;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
}

.pagination .page-item {
    font-size: 1rem;
    color: #b30000;
    margin-left: 20px;
    border: 1.5px solid grey;
}

table.table thead th {
    border: 2px solid;
}

table.table th,
table.table td {
    border: 2px solid grey;
    /* padding-top: 1.1rem; */
    /* padding-bottom: 1rem; */
}

table.table th,
table.table td,
li {
    font-size: 20px;
    color: grey
        /* padding-top: 1.1rem; */
        /* padding-bottom: 1rem; */
}

/*
.pagination .page-item .page-link {
    font-size: .9rem;
    color: #ff3547;
    background-color: transparent;
    border: 2px solid black;
    outline: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
*/

h1 {
    color: #b30000;
}

h4 {
    color: #b30000;
}

h3 {
    color: #b30000;
}

h5 {
    color: #b30000;
}

.box {
    border: 1px solid grey;
}

.color {
    color: #b30000;
}

h2 {
    color: #b30000;
}

.fp {
    color: #b30000;
}

.ABChocolate {
    width: 100%;
    height: 92%;
    border-radius: 20px
}

.days {
    border: 1px solid grey;
    border-radius: 50%;
    padding: 15px;
    color: #b30000;
}


.box {
    display: flex;
    align-items: center;
    border: none;
}


.bg {
    background-color: #b30000;
    color: white;
}

.boxButton {
    border: 1px solid white;
    background-color: #b30000;
    color: white;
    margin: 0 auto;
}

.buttonCss {
    color: white;
    background-color: #b30000;
    padding: 5px 25px 5px 25px;
    border: none;
}

.buttonCssBlue {
    color: white;
    background-color: darkblue;
    padding: 5px 25px 5px 25px;
    border: none;
}

.foodImage {
    position: relative;
    left: 0px;
    top: -120px
}

.FImage {
    width: 100%;
    height: 100%;
    margin-left: 15px;
}

.line {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    transform: rotate(90deg);

}

.registerPhoto {
    width: 75%;
}

.statusCircle {
    border: 1px solid grey;
    border-radius: 50%;
    width: 120px;
    padding-top: 35px;
    padding-bottom: 35px;
    display: inline-block;
    text-align: center;
    vertical-align: text-bottom;
    font-weight: 700;
    background-color: #e0abb8;
}

.statusCircleDisable {
    border: 1px solid grey;
    border-radius: 50%;
    width: 120px;
    padding-top: 35px;
    padding-bottom: 35px;
    display: inline-block;
    text-align: center;
    vertical-align: text-bottom;
    font-weight: 700;
}

.formInput {
    border: none;
    border-radius: 0px;
    border-bottom: 1.2px solid #b3b3b3;
}

.form-control::-webkit-input-placeholder {
    color: #b30000;
}





@media only screen and (max-width : 1220px) {
    .nav-item {
        font-size: 20px;
        margin-left: 90px;
    }

    .loginButton {
        border: 1px solid black;
        margin-top: 10px;
        font-size: 17px;
        padding: 3px 10px 3px 10px;
    }
}

@media only screen and (max-width : 991px) {
    h2 {
        font-size: 25px;
    }

    h1 {
        font-size: 30px;
    }

    .ABChocolate {
        width: 100%;
        height: 88%;
        border-radius: 20px
    }

    .foodImage {
        margin-top: 120px;
    }


}






@media only screen and (max-width : 575px) {
    h2 {
        font-size: 25px;
    }

    h1 {
        font-size: 30px;
    }

    .ABChocolate {
        width: 100%;
        height: 88%;
        border-radius: 20px
    }

    .foodImage {
        margin-top: 120px;
    }

    .days {
        border: 1px solid grey;
        border-radius: 50%;
        padding: 8px;
        color: #b30000;
    }
    


}
